/* ==================== Header structure ==================== */

.header-nav {
  display: flex;
  justify-content: flex-start;
  margin: 48px 0 116px;
  border: $primary-color;
  
}

.header-nav .nav-list {
  min-width: 580px;
  margin-left: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .symbol {
    width: 36px;
    height: 100%;
    margin-right: 36px;
    vertical-align: middle;
  }
}

.nav-item {
  font-family: 'Source Serif Pro', Arial;
  font-weight: $semibold;
  font-size: 16px;
  color: $primary-color;
  margin: 0;
}



/* ==================== Nav anchors ==================== */

/* Removes default appearance of anchors */
a {
  text-decoration: none;
}

/* Adds underline when mouse hovers */
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}



/* ==================== Dropdown menus ==================== */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-item {
  display: none;
  position: absolute;
  background-color: #FFF;
  box-shadow: $medium-shadow;
  min-width: 216px;
  z-index: 1;
  list-style-type: none;
  margin-top: 0;
  padding: 16px 24px;
}

.dropdown-item li:not(:first-child) {
  margin-top: 16px;
}

.dropdown .nav-item {
  display: flex;
  align-items: center;
}

#toggle-dropdown-system,
#toggle-dropdown-master {
  border: none;
  background-color: #FFF;
  cursor: pointer;
}



/* ==================== Dropdown arrows ==================== */

/* Creates arrow pointing down */
.arrow-down {
  width: 9px;
  height: 9px;
  margin-left: 4px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid $secondary-color;
  margin-top: 1px;
}



/* ==================== Dark mode button ==================== */

#toggle-dark-mode {
  margin-left: 716px;
  cursor: pointer;
  background-color:$white;
  border-radius: 50%;
  box-shadow: $medium-shadow;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 20px;
    height: 20px;
  }
}



/* ==================== List, search box and logo ==================== */

ul.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Stylizes the search box */
.search-box {
  // display: flex;
  display: none;
  border-bottom: 1px solid $secondary-color;
  width: 172px;
  cursor: pointer;

  /* Stylizes the logo */
  img {
    width: 17px;
    height: 17px;
    margin: auto 0;
  }
}



/* ==================== Responsive hamburguer menu ==================== */

#burguer div {
  display: none;
  width: 25px;
  height: 2px;
  background-color: $brand-color;
  margin-top: 5px;
  margin-right: 8px;
}