/* ==================== Index ==================== */

.index-wrapper {
  width: 1134px;
  margin: 48px auto;
  margin-bottom: 96px;
}

.discover-card {
  align-items: center;
  width: 365px;
  height: 426px;
  box-shadow: $medium-shadow;
  color: $primary-color;
  border-radius: 0 0 8px 8px;
}

.title-index {
  text-align: center;
  margin-bottom: 48px;
  color: $brand-color;
}

.card-image {
  height: 244px;
  width: 365px;
  border-radius: 8px 8px 0 0;
}

.card-text {
  margin: 16px 24px 16px 24px;
}

.type-info {
  margin-bottom: 4px;
  color: $brand-light-color;
}

.card-title {
  margin-bottom: 8px;
  margin-top: 4px;
}

.slideshow-slide {
  gap: 20px;
  display: flex;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  display: none;
}

.slideshow-slide.active {
  gap: 20px;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;
  display: flex;
}

.slides-container {
  // position: relative;
}