/* ==================== Locais ==================== */

.locais-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1134px;
  margin: 0 266px 0 116px;
}

.locals-group {
    
}

.local-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
  width: 984px;

}

/* Adds margin below article title */
.local-group h2 {
  margin-bottom: 24px;
}

/* Creates the person card itself */
.local-link {
  background-color: #ffffff;
  width: 109px;
  height: 79px;
  box-shadow: $medium-shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.small {
    height: 49px;
    width: 250px;
    background-color: red;
  }
}

.person-name.small {
    text-align: center;
}