/* ==================== General layout  ==================== */

.master-wrapper {
  width: 749px;
  margin: auto;
}

.master-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

section:nth-of-type(2) {
  h4 {
    margin-top: 72px;
  }
}



/* ==================== Tools  ==================== */

.master-tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 232px;
  padding: 24px 16px;
  box-shadow: $medium-shadow;
}

.master-tool h5 {
  color: $primary-color;
}



/* ==================== Mestre | Aventuras ==================== */

.master-adventure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 232px;
  padding: 24px 16px;
  box-shadow: $medium-shadow;
}

.master-adventure h5 {
  color: $primary-color;
}