/* ==================== General layout  ==================== */

.master-content {
  display: flex;
  gap: 24px;
}

section:nth-of-type(2) {
  h4 {
    margin-top: 48px;
  }
}



/* ==================== Tools  ==================== */

.master-wrapper {
  width: 746px;
  margin: auto;
}

.master-tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 232px;
  box-shadow: $medium-shadow;
}



/* ==================== Mestre | Aventuras ==================== */

.master-adventure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 232px;
  box-shadow: $medium-shadow;
}

// .adventure-header {
//   margin-top: 100px;
// }