/* ==================== Header and Typography ==================== */

/* Removes spacing after h1 tag */
.person-header {
    margin-bottom: 0px;
}

.person-wrapper {
    margin: 0 auto;
    width: 1134px;
}

h5 {
    color: $secondary-color;
}



/* ==================== General Layout ==================== */

.info-picture {
    display: flex;
    gap: 96px;
}



/* ==================== Column with person info ==================== */

.cards-multinfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 24px;
    box-shadow: $medium-shadow;
}

.person-infos {
    width: 653px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.appearance-container {
    height: auto;
}

.apperance-title {
    color: $tertiary-color;
}

.person-multinfo {
    box-shadow: $medium-shadow;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cards-person {
    gap: 15px;
}

.multinfo-itens-person {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    row-gap: 16px;
    column-gap: 48px;
}

.multinfo-single-person {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.person-info {
    box-shadow: $medium-shadow;
    padding: 16px 24px;

    ul {
        margin-bottom: 0px;

        li {
            margin-left: 18px;
        }
    }
}

// Removes padding-left from list itens
.personality-list {
    padding-left: 0px;
}

li:empty {
    display: none;
}

// Removes padding-left from list itens
.notes-list, .history-list, .interaction-list, .item-list {
    padding-left: 0px;
}

// Removes circles from buildings list
.characteristics-list {
    list-style-type: none;
    padding-left: 0px;
}

// Hide notes if there's no content
.notes-info:first-child:has(li:empty) {
    display: none;
}

.notes-info li:empty {
    display: none;
}


/* ==================== Profile picture ==================== */

.person-picture {
    width: 385px;
    height: 728px;
    display: none;
}



/* ==================== Hides stuff that is empty ==================== */

.person-container:has(p:empty) {
    display: none;
}

.personality-container:has(li:first-child:empty) {
    display: none;
}

.history-container:has(li:first-child:empty) {
    display: none;
}

.interaction-container:has(li:first-child:empty) {
    display: none;
}

.clothing-container:has(p:empty) {
    display: none;
}

.item-container:has(li:first-child:empty) {
    display: none;
}

