/* ==================== Sistema | Habilidades  ==================== */

.system-itens li {
    list-style-type: none;
    margin-top: 8px;
}

.system-itens ul {
  padding-left: 0;
}

.system-item {
    margin-top: 32px;
  }

.system-item h5 {
  margin-top: 24px;
}
  
  /* Div which creates a dropshadow between Resumo elements */
  .single-info {
    padding: 16px 24px;
    box-shadow: $medium-shadow;
  }
  
  .single-info:not(:last-child) {
    margin-bottom: 8px;
  }
  
  .single-info h6 {
    color: $primary-color;
  }