/* =================== Import Google Font ==================== */

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');



/* ==================== SaSS variables ==================== */

/* Color variables */
$primary-color: #2d2d2d;
$secondary-color: #767676;
$tertiary-color: #B7B7B7;
$brand-color: #578A80;
$brand-light-color: #70aca0;
$hyperlink: #0645ad;
$white: #FFFFFF;

/* Typography variables */

/* font-family */
$serif: 'Source Serif Pro', Arial;

/* font-weight */
$light: 400;
$normal: 500;
$semibold: 600;
$bold: 900;

/* Size */
$xx-small: 14px;
$x-small: 16px;
$small: 18px;
$medium: 28px;
$large: 32px;
$x-large: 36px;
$xx-large: 40px;
// $xx-small: 77.78%; /* 14px / 18px = 0.7778 * 100 = 77.78% */
// $x-small: 88.89%; /* 16px / 18px = 0.8889 * 100 = 88.89% */
// $small: 100%; /* 18px / 18px = 1 * 100 = 100% */
// $medium: 155.56%; /* 28px / 18px = 1.5556 * 100 = 155.56% */
// $large: 177.78%; /* 32px / 18px = 1.9778 * 100 = 177.78% */
// $x-large: 200%; /* 36px / 18px = 2 * 100 = 200% */
// $xx-large: 222.22%; /* 40px / 18px = 2.2222 * 100 = 222.22% */

/* Dropshadow variable */
$medium-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
$light-shadow: 0px 0px 36px rgba(0, 0, 0, 0.03);

/* ==================== Dark mode ==================== */

/* Dark mode variables */
$primary-color-dark: #292929;
$secondary-color-dark: #e6e6e6;
$tertiary-color-dark: #cccccc;
$brand-color-dark: #578A80;
$brand-light-color-dark: #70aca0;
$hyperlink-dark: #4880db;

/* Dark mode styles */
body.dark-mode {
  background-color: $primary-color-dark;

  p,
  button,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  ul,
  li {
    color: $white;
  }

  #dropdown-container-system,
  #dropdown-container-master {
    background-color: $primary-color-dark;

    li a {
      color: $white;
    }
  }

  button,
  input {
    background-color: $primary-color-dark;
    color: $white;
  }

  #toggle-dark-mode {
  background-color: $primary-color;

  img {
    fill: $brand-light-color;
  }
  }

  .tabinator {
    label {
      background-color: $primary-color-dark;
      color: $white;
    }

    .tabinator input:checked + label {
      background-color: $primary-color-dark;
      color: $white;
    }
  }

  #myInput {
    color: $white;
  }

  table,
  td {
    border: 1px solid $brand-light-color;
    background-color: $primary-color;
    color: $white;
  }

  th {
    border: 0;
  }

  .container-logo {
    background-color: $primary-color-dark;
  }

  #toggle-dark-mode {
    cursor: pointer;
    color: $white;
    width: 100px;
  }

  #toggle-dropdown-system,
  #toggle-dropdown-master {
    background-color: $primary-color-dark;
    color: $white;

    .arrow-down {
      border-top: 9px solid $white;
    }
  }

}



/* ==================== CSS reset =================== */

/* Changes how the box model works */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Resets parameter for all the folowing elements */
// html,
// body,
// div,
// span,
// applet,
// object,
// iframe,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// blockquote,
// pre,
// a,
// abbr,
// acronym,
// address,
// big,
// cite,
// code,
// del,
// dfn,
// em,
// img,
// ins,
// kbd,
// q,
// s,
// samp,
// small,
// strike,
// strong,
// sub,
// sup,
// tt,
// var,
// b,
// u,
// i,
// center,
// dl,
// dt,
// dd,
// ol,
// fieldset,
// form,
// label,
// legend,
// table,
// caption,
// tbody,
// tfoot,
// thead,
// tr,
// th,
// td,
// article,
// aside,
// canvas,
// details,
// embed,
// figure,
// figcaption,
// footer,
// header,
// hgroup,
// menu,
// nav,
// output,
// ruby,
// section,
// summary,
// time,
// mark,
// audio,
// video,
// ul 
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* ==================== General Layout ==================== */

body {
  margin: 0 116px;
  font-family: $serif, Arial;
}

// .preload * {
//   -webkit-transition: none !important;
//   -moz-transition: none !important;
//   -ms-transition: none !important;
//   -o-transition: none !important;
//   transition: none !important;
// }

.historico-body section:first-of-type {
  width: 556px;
}

/* Defines structure of main area of page */
.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 750px;
}

header {
  h1 {
    text-align: left;
  }
}

ul {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 40px;

  ul {
    margin-top: 0;
  }
}

.hidden {
  display: none;
}



/* ==================== Images ==================== */

.img-portrait {
  max-width: 300px;
}



/* ==================== Typography ==================== */

/* Turns text bold */
.highlight {
  font-weight: $bold;
}

/* Turns text italic */
.italic {
  font-style: italic;
  font-weight: $light;
}


/* ==================== Lists ==================== */

/* Decrease bullet point size and change color */
li::marker {
  font-size: 10px;
  color: $tertiary-color;
}


/* ==================== Tables ==================== */

/* Removes double border */
table {
  border-collapse: collapse;
}

th {
  background-color: $brand-color;
  color: #FFF;
  font-size: $small;
  padding: 16px 8px;
  vertical-align: middle;
}

td {
  border: 1px solid $tertiary-color;
  text-align: center;
  padding: 8px;
}

/* makes even rows have a certain color */
tr:nth-child(even) {
  background-color: #f7f7f7;
}

.th-extra {
  font-size: $x-small;
}



/* ==================== Links ==================== */

/* Removes default appearance of anchors */
a {
  text-decoration: none;
  color: $hyperlink;
  cursor: pointer;

  hover {
    text-decoration: underline;
  }
}



/* ==================== Typography ==================== */

h1 {
  font-weight: $bold;
  font-size: $xx-large;
  color: $brand-color;
  margin-bottom: 48px;
}

h2 {
  font-weight: $semibold;
  font-size: $x-large;
  color: $primary-color;
  line-height: 36px;
  margin-top: 32px;
  margin-bottom: 24px;

  &.subtitle {
    margin-top: 8px;
  }
}

h3 {
  font-weight: $normal;
  font-size: $large;
  color: $primary-color;
  margin-top: 32px;
  margin-bottom: 24px;
}

h4 {
  font-weight: $semibold;
  font-size: $medium;
  color: $primary-color;
  margin-top: 32px;
  margin-bottom: 16px;
}

h5 {
  font-weight: $semibold;
  font-size: $small;
  color: $primary-color;
}

h6 {
  font-weight: $semibold;
  font-size: $xx-small;
  color: $primary-color;
}

a,
div,
p,
ul,
button,
details,
table {
  font-weight: $light;
  font-size: $small;
}

.detail-info {
  font-weight: $light;
  font-size: $x-small;
  color: $secondary-color;
}



/* ==================== Forms ==================== */

form {
  box-shadow: $medium-shadow;
  padding: 32px;
  border-radius: 8px;
  width: 288px;
}

select {
  display: flex;
  gap: 32px;
  border: 1px solid $brand-light-color;
  border-radius: 8px;
  padding: 8px 0 7px 8px;
  font-family: $serif;
  font-size: $small;
  color: $secondary-color;
  width: 224px;
}

// Necessary to be able to set margin between labels
label,
input {
  display: block;
}

label:not(:first-child) {
  margin-top: 32px;
}

label h5 {
  color: $brand-light-color;
  font-size: $xx-small;
  margin-bottom: 8px;
}



/* ==================== Buttons ==================== */

.form-button {
  color: #FFF;
  font-family: $serif;
  font-size: $small;
  background-color: $brand-color;
  border: none;
  border-radius: 8px;
  padding: 8px 0;
  margin-top: 32px;
  width: 224px;
  cursor: pointer;
}

.form-button[disabled] {
  background: rgb(202, 202, 202);
  cursor: not-allowed;
}

.form-button-outline {
  color: $brand-color;
  background-color: #FFF;
  font-family: $serif;
  font-size: $small;
  font-weight: $semibold;
  border: solid 2px $brand-color;
  border-radius: 8px;
  padding: 8px 0;
  margin-top: 32px;
  width: 224px;
  cursor: pointer;
}

.form-button-outline[disabled] {
  color: $tertiary-color;
  border: solid 2px $tertiary-color;
  background-color: #FFF;
  cursor: not-allowed;
}



/* ==================== Leaflet popup ==================== */

// Styles text inside the popup
.custom-popup .leaflet-popup-content-wrapper {
  background: #FFF;
  color: $primary-color;
  font-size: 16px;
  line-height: 24px;
}

// Styles links inside the popup
.custom-popup .leaflet-popup-content-wrapper a {
  font-family: $serif;
  font-size: $small;
}

// Don't know what it does
.custom-popup .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}

// .custom-popup .leaflet-popup-tip {
//   border-left:15px solid transparent;
//   border-right:15px solid transparent;
//   border-top:15px solid #2c3e50;
//   }


/* ==================== Includes other .scss files ==================== */

@import '_footer.scss';
@import '_header.scss';
@import '_index.scss';
@import '_historico.scss';
@import '_locais.scss';
@import '_pessoas.scss';
@import '_sistema.scss';
@import '_mestre.scss';
@import '_pages-pessoas.scss';
@import '_pages-locais.scss';



/* ==================== Responsive version | Cellphones ==================== */

@media screen and (max-width: 767px) {

  /* Partes that affect whole site */
  body {
    margin: 0 8px;
  }

  .page-wrapper {
    width: 100%;
  }

  h1 {
    margin-bottom: 24px;

  }

  ul {
    margin-bottom: 16px;
  }


  /* Header */
  .header-nav .nav-list {
    min-width: 0;
  }

  .header-nav {
    margin-top: 16px;
    margin-bottom: 48px;
  }

  // .nav-item {
  //   display: none;
  // }

  // .dropdown {
  //   display: none;
  // }

  .search-box {
    display: none;
  }

  #burguer {
    z-index: 2;
  }

  #burguer div {
    display: block;
  }


  /* Footer */
  footer {
    margin-top: 48px;
    margin-bottom: 16px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;

    li {
      margin-bottom: 16px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  .footer-pages {
    text-align: center;

    li {
      margin-top: 16px;
    }

    ul:first-child {
      margin-bottom: 0;
    }
  }

  .footer-subpages {
    display: block;
  }

  .footer-subpages:first-child {
    margin-top: 0;
  }

  .footer-subpages:last-child {
    margin-bottom: 4px;
  }


  /* Index */
  .title-index {
    text-align: left;
  }

  .index-wrapper {
    width: 100%;
  }

  .slideshow-slide {
    flex-direction: column;
    width: 100%;

    img {
      width: 344px;
    }
  }

  .discover-card {
    width: 344px;
  }



  /* Historico */
  .historico-body section:first-of-type {
    width: 100%;
  }

  .session-header {
    margin-bottom: 16px;
  }

  .session-content {
    padding-bottom: 48px;

    h4 {
      margin-top: 0;
    }
  }


  /* Pessoas */
  .pessoas-wrapper {
    width: 100%;
    margin: 0;
  }

  .people-group {
    width: 100%
  }


  /* Master */
  .master-wrapper {
    width: 100%;

    h1 {
      text-align: center;
    }
  }

  .master-tools,
  .master-adventures {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .master-content {
    justify-content: center;
  }


  /* Master | Name generator */
  .master-tool-wrapper {
    width: 100%;
    margin: 0;

    h1 {
      text-align: center;
    }
  }

  .tool-main {
    width: 100%;
  }

  .tool-menu {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  #names-div {
    width: 100%;
  }

  /* Master | Travel calculator */


  /* Master | Audio panel */
  .tabinator label {
    padding: 16px 24px;
    font-size: 16px;
    margin-top: 0;
  }

  .tabinator input:checked+label {
    font-size: 20px;
  }

  #content1,
  #content2,
  #content3 {
    flex-direction: column;
  }


  /* Pages-pessoas-template */
  .person-wrapper {
    width: 100%;
  }

  .info-picture {
    width: 100%;
  }

  .person-infos {
    width: 100%;
  }

  .multinfo-itens-person {
    flex-direction: column;
    width: 100%;
  }

  /* Master | Adventures */
  .master-adventures {
    display: block;

    img {
      width: 100%;
    }
  }

  /* Pages-locais-template */
  .multinfo-itens {
    flex-direction: column;
  }

  .cards-person {
    justify-content: center;
  }
}



/* ==================== Responsive version | Cellphones and Tablets ==================== */

@media screen and (max-width: 768px) {

  body,
  html {
    overflow-x: hidden;
    position: relative;
  }

  .header-logo {
    margin-top: 16px;
  }

  #burguer {
    display: block;
    margin-top: 16px;
    cursor: pointer;
  }

  .header-nav {
    margin-top: -4px;
    justify-content: space-between;

    .nav-list {
      display: none;
      position: absolute;
      margin-left: 16px;
      right: 0;
      width: 60%;
      height: 100vh;
      z-index: 1;
      box-shadow: $medium-shadow;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      background-color: #FFF;


      &.nav-active {
        display: flex;
        }

      li {
        margin-left: 32px;
      }
    }
  }
}





/* ==================== Responsive version | Tablets ==================== */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 0 16px;
  }

  .page-wrapper {
    width: 100%;
    align-items: center;
  }

  /* Header */
  .search-box {
    width: 100px;
  }

  #burguer div {
    display: none;
  }


  /* Footer */
  footer {
    margin-bottom: 48px;
  }
}