@charset "UTF-8";
/* =================== Import Google Font ==================== */
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
/* ==================== SaSS variables ==================== */
/* Color variables */
/* Typography variables */
/* Font */
/* Weight */
/* Size */
/* Dropshadow variable */
/* ==================== CSS reset =================== */
/* Changes how the box model works */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Resets parameter for all the folowing elements */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==================== General Layout ==================== */
body {
  margin: 0 116px;
  font-family: "Source Serif Pro", Arial, Arial;
}

h2 {
  margin-top: 32px;
  margin-bottom: 24px;
}
h2.subtitle {
  margin-top: 8px;
}

img {
  width: 600px;
}

h3 {
  margin-top: 32px;
  margin-bottom: 24px;
}

h4 {
  margin-top: 32px;
  margin-bottom: 16px;
}

.historico-body section:first-of-type {
  width: 556px;
}

/* Defines structure of main area of page */
.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 750px;
}

header h1 {
  text-align: left;
}

ul {
  margin-top: 16px;
  margin-bottom: 32px;
  padding-left: 40px;
}

/* ==================== Lists ==================== */
/* ==================== Images ==================== */
.img-portrait {
  max-width: 300px;
}

/* ==================== Typography ==================== */
/* Turns text bold */
.highlight {
  font-weight: 900;
}

/* Turns text italic */
.italic {
  font-style: italic;
  font-weight: 400;
}

/* ==================== Tables ==================== */
/* Removes double border */
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #B7B7B7;
  text-align: left;
  padding: 8px;
}

/* makes even rows have a certain color */
tr:nth-child(even) {
  background-color: #f7f7f7;
}

/* ==================== Links ==================== */
/* Removes default appearance of anchors */
a {
  text-decoration: none;
  color: #0645ad;
}
a hover {
  text-decoration: underline;
}

/* ==================== Typography ==================== */
h1 {
  font-weight: 900;
  font-size: 40px;
  color: #578A80;
  margin-bottom: 48px;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  color: #2d2d2d;
  line-height: 36px;
}

h3 {
  font-weight: 500;
  font-size: 32px;
  color: #2d2d2d;
}

h4 {
  font-weight: 600;
  font-size: 28px;
  color: #2d2d2d;
}

h5 {
  font-weight: 600;
  font-size: 18px;
  color: #2d2d2d;
}

h6 {
  font-weight: 600;
  font-size: 14px;
  color: #2d2d2d;
}

a, div, p, ul, button, details, table {
  font-weight: 400;
  font-size: 18px;
}

.detail-info {
  font-weight: 400;
  font-size: 16px;
  color: #767676;
}

/* ==================== Leaflet popup ==================== */
.custom-popup .leaflet-popup-content-wrapper {
  background: #FFF;
  color: #2d2d2d;
  font-size: 16px;
  line-height: 24px;
}

.custom-popup .leaflet-popup-content-wrapper a {
  font-family: "Source Serif Pro", Arial;
  font-size: 18px;
}

.custom-popup .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}

/* ==================== Includes other .scss files ==================== */
/* ==================== Footer structure ==================== */
footer {
  margin: 144px 0 48px 0;
}
footer .footer-header {
  height: 36px;
  text-align: center;
}
footer .footer-header:before {
  content: "";
  display: block;
  position: relative;
  top: 50%;
  height: 1px;
  width: 100%;
  background-color: #70aca0;
  z-index: -1;
}
footer .container-logo {
  width: 128px;
  background-color: white;
  margin: 0 auto;
}
footer img {
  width: 36px;
  height: 36px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 28px;
  list-style-type: none;
}

.footer-content li {
  list-style-type: none;
}

.footer-content ul {
  padding-left: 0;
}

.footer-pages {
  font-family: "Source Serif Pro", Arial, Arial;
  font-weight: 600;
  font-size: 18px;
  color: #2d2d2d;
}

.footer-subpages {
  display: flex;
  flex-direction: row;
  font-family: "Source Serif Pro", Arial;
  font-weight: 600;
  font-size: 14px;
  color: #767676;
  margin-bottom: 16px;
}
.footer-subpages:first-child {
  margin-top: 16px;
}

/* ==================== Header structure ==================== */
.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 48px 0 116px;
  border: #2d2d2d;
}

.header-nav .nav-list {
  min-width: 580px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav .nav-list .symbol {
  width: 36px;
  height: 100%;
  margin-right: 36px;
  vertical-align: middle;
}

.nav-item {
  font-family: "Source Serif Pro", Arial;
  font-weight: 600;
  font-size: 16px;
  color: #2d2d2d;
  margin: 0;
}

/* ==================== Nav anchors ==================== */
/* Removes default appearance of anchors */
a {
  text-decoration: none;
}

/* Adds underline when mouse hovers */
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* ==================== Dropdown menus ==================== */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-item {
  display: none;
  position: absolute;
  background-color: #FFF;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  min-width: 200px;
  z-index: 1;
  list-style-type: none;
  margin-top: 0;
  padding: 16px 24px;
}

.dropdown-item li:not(:first-child) {
  margin-top: 16px;
}

.dropdown .nav-item {
  display: flex;
  align-items: center;
}

#toggle-dropdown {
  border: none;
  background-color: #FFF;
}

/* ==================== Dropdown arrows ==================== */
/* Creates arrow pointing down */
.arrow-down {
  width: 9px;
  height: 9px;
  margin-left: 4px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid #767676;
  margin-top: 1px;
}

/* ==================== List, search box and logo ==================== */
ul.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Stylizes the search box */
.search-box {
  display: flex;
  border-bottom: 1px solid #767676;
  width: 172px;
  /* Stylizes the logo */
}
.search-box img {
  width: 17px;
  height: 17px;
  margin: auto 0;
}

/* ==================== Index ==================== */
/* Put title in the middle of page */
.title-index {
  text-align: center;
  margin-bottom: 48px;
  color: #578A80;
}

.index-main {
  display: flex;
  justify-content: space-between;
  max-width: 944px;
  margin: 0 auto;
  margin-bottom: 96px;
  flex-wrap: wrap;
  row-gap: 20px;
}

.discover-card {
  display: flex;
  align-items: center;
  height: 184px;
  flex-basis: 461px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  color: #2d2d2d;
}

.card-image {
  height: 184px;
  width: 144px;
}

.card-text {
  margin: 24px;
}

.type-info {
  margin-bottom: 4px;
}

.card-title {
  margin-bottom: 8px;
  margin-top: 4px;
}

/* ==================== Histórico ==================== */
.session-header {
  border-left: 4px solid #767676;
  padding-left: 20px;
  margin-bottom: 40px;
}
.session-header h2 {
  margin-bottom: 8px;
  color: #578A80;
}

.session-content {
  padding-left: 20px;
  padding-bottom: 80px;
}
.session-content h4 {
  color: #70aca0;
}

.session-content h4:not(:first-child) {
  margin-top: 28px;
}

.session-content h4 {
  margin-bottom: 8px;
}

/* ==================== Details and summary ==================== */
details {
  border: 1px solid #767676;
  border-radius: 4px;
  padding: 0 5px 0;
}

summary {
  font-weight: bold;
  margin: 5px 5px 0;
  padding: 15px;
}

details[open] {
  padding: 0 5px 0;
}

details[open] summary {
  border-bottom: 1px solid #767676;
  margin-bottom: 10px;
}

/* Turn cursor into hand when hovering over arrow */
details summary {
  cursor: pointer;
}

/* Fix nested block-level element being pushed down below the arrow marker */
details summary > * {
  display: inline;
}

/* ==================== Locais ==================== */
.header-main {
  text-align: left;
  float: left;
}

.list-religions {
  margin-top: 32px;
  list-style-type: none;
}

/* ==================== Pessoas  ==================== */
.header-main h1 {
  color: #578A80;
}

.people-group h2 {
  color: #70aca0;
}

.pessoas-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1134px;
  margin: 0 266px 0 116px;
}

.people-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
  width: 984px;
}

/* Adds margin below article title */
.people-group h2 {
  margin-bottom: 24px;
}

/* Makes person cards be ordered in a column */
.cards-person {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

/* Creates the person card itself */
.card-link {
  background-color: #ffffff;
  width: 109px;
  height: 123px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a.a-link {
  display: block;
  width: 109px;
  height: 123px;
  color: #2d2d2d;
  text-decoration: none;
}

.secondary-info {
  font-size: 14px;
  color: #767676;
}

/* Sets size for person thumbnail */
.card-picture {
  width: 40px;
  height: 40px;
}

.person-name {
  margin-top: 8px;
}

/* Placeholder circle for people with missing avatars */
.dot-picture {
  height: 40px;
  width: 40px;
  background-color: tertiary;
  border-radius: 50%;
  display: inline-block;
}

/* ==================== Sections ==================== */
.person-infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* ==================== Sistema | Habilidades  ==================== */
.system-itens li {
  list-style-type: none;
  margin-top: 8px;
}

.system-itens ul {
  padding-left: 0;
}

.system-item {
  margin-top: 32px;
}

.system-item h5 {
  margin-top: 24px;
}

/* Div which creates a dropshadow between Resumo elements */
.single-info {
  padding: 16px 24px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
}

.single-info:not(:last-child) {
  margin-bottom: 8px;
}

.single-info h6 {
  color: #2d2d2d;
}

/* ==================== General layout  ==================== */
.master-wrapper {
  width: 749px;
  margin: auto;
}

.master-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

section:nth-of-type(2) h4 {
  margin-top: 72px;
}

/* ==================== Tools  ==================== */
.master-tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 232px;
  padding: 24px 16px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
}

.master-tool h5 {
  color: #2d2d2d;
}

/* ==================== Mestre | Aventuras ==================== */
.master-adventure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 232px;
  padding: 24px 16px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
}

.master-adventure h5 {
  color: #2d2d2d;
}

/* ==================== Header and Typography ==================== */
/* Removes spacing after h1 tag */
.person-header {
  margin-bottom: 0px;
}

.person-wrapper {
  margin: 0 auto;
  width: 1134px;
}

h5 {
  color: #767676;
}

/* Breadcrumbs */
ul.breadcrumb {
  margin: 0 0;
  padding: 4px 0 0 0;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 500;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/ ";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ==================== General Layout ==================== */
.info-picture {
  display: flex;
  gap: 96px;
}

/* ==================== Column with person info ==================== */
.cards-multinfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
}

.person-infos {
  width: 653px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apperance-title {
  color: #B7B7B7;
}

.person-multinfo {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cards-person {
  gap: 15px;
}

.multinfo-itens {
  display: flex;
  flex-wrap: nowrap;
  row-gap: 16px;
  -moz-column-gap: 48px;
       column-gap: 48px;
}

.multinfo-single {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.person-info {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  padding: 16px 24px;
}
.person-info ul {
  margin-bottom: 0px;
}
.person-info ul li {
  margin-left: 18px;
}

.personality-list {
  padding-left: 0px;
  margin-top: 0;
}

.notes-list {
  padding-left: 0px;
}

.characteristics-list {
  list-style-type: none;
  padding-left: 0px;
}

/* ==================== Profile picture ==================== */
.person-picture {
  width: 385px;
  height: 728px;
}/*# sourceMappingURL=styles.css.map */