@charset "UTF-8";
/* =================== Import Google Font ==================== */
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
/* ==================== SaSS variables ==================== */
/* Color variables */
/* Typography variables */
/* font-family */
/* font-weight */
/* Size */
/* Dropshadow variable */
/* ==================== CSS reset =================== */
/* Changes how the box model works */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Resets parameter for all the folowing elements */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==================== General Layout ==================== */
body {
  margin: 0 116px;
  font-family: "Source Serif Pro", Arial, Arial;
}

h2 {
  margin-top: 32px;
  margin-bottom: 24px;
}
h2.subtitle {
  margin-top: 8px;
}

img {
  width: 600px;
}

h3 {
  margin-top: 32px;
  margin-bottom: 24px;
}

h4 {
  margin-top: 32px;
  margin-bottom: 16px;
}

.historico-body section:first-of-type {
  width: 556px;
}

/* Defines structure of main area of page */
.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 750px;
}

header h1 {
  text-align: left;
}

ul {
  margin-top: 16px;
  margin-bottom: 32px;
  padding-left: 40px;
}

/* ==================== Images ==================== */
.img-portrait {
  max-width: 300px;
}

/* ==================== Typography ==================== */
/* Turns text bold */
.highlight {
  font-weight: 900;
}

/* Turns text italic */
.italic {
  font-style: italic;
  font-weight: 400;
}

/* ==================== Lists ==================== */
/* Decrease bullet point size and change color */
li::marker {
  font-size: 10px;
  color: #B7B7B7;
}

/* ==================== Tables ==================== */
/* Removes double border */
table {
  border-collapse: collapse;
}

th {
  background-color: #578A80;
  color: #FFF;
  font-size: 18px;
  padding: 16px 8px;
  vertical-align: middle;
}

td {
  border: 1px solid #B7B7B7;
  text-align: center;
  padding: 8px;
}

/* makes even rows have a certain color */
tr:nth-child(even) {
  background-color: #f7f7f7;
}

.th-extra {
  font-size: 16px;
}

/* ==================== Links ==================== */
/* Removes default appearance of anchors */
a {
  text-decoration: none;
  color: #0645ad;
}
a hover {
  text-decoration: underline;
}

/* ==================== Typography ==================== */
h1 {
  font-weight: 900;
  font-size: 40px;
  color: #578A80;
  margin-bottom: 48px;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  color: #2d2d2d;
  line-height: 36px;
}

h3 {
  font-weight: 500;
  font-size: 32px;
  color: #2d2d2d;
}

h4 {
  font-weight: 600;
  font-size: 28px;
  color: #2d2d2d;
}

h5 {
  font-weight: 600;
  font-size: 18px;
  color: #2d2d2d;
}

h6 {
  font-weight: 600;
  font-size: 14px;
  color: #2d2d2d;
}

a,
div,
p,
ul,
button,
details,
table {
  font-weight: 400;
  font-size: 18px;
}

.detail-info {
  font-weight: 400;
  font-size: 16px;
  color: #767676;
}

/* ==================== Forms ==================== */
form {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  padding: 32px;
  border-radius: 8px;
  width: 288px;
}

select {
  display: flex;
  gap: 32px;
  border: 1px solid #70aca0;
  border-radius: 8px;
  padding: 8px 0 7px 8px;
  font-family: "Source Serif Pro", Arial;
  font-size: 18px;
  color: #767676;
  width: 224px;
}

label,
input {
  display: block;
}

label:not(:first-child) {
  margin-top: 32px;
}

label h5 {
  color: #70aca0;
  font-size: 14px;
  margin-bottom: 8px;
}

/* ==================== Buttons ==================== */
.form-button {
  color: #FFF;
  font-family: "Source Serif Pro", Arial;
  font-size: 18px;
  background-color: #578A80;
  border: none;
  border-radius: 8px;
  padding: 8px 0;
  margin-top: 32px;
  width: 224px;
  cursor: pointer;
}

.form-button[disabled] {
  background: rgb(202, 202, 202);
  cursor: not-allowed;
}

.form-button-outline {
  color: #578A80;
  background-color: #FFF;
  font-family: "Source Serif Pro", Arial;
  font-size: 18px;
  font-weight: 600;
  border: solid 2px #578A80;
  border-radius: 8px;
  padding: 8px 0;
  margin-top: 32px;
  width: 224px;
  cursor: pointer;
}

.form-button-outline[disabled] {
  color: #B7B7B7;
  border: solid 2px #B7B7B7;
  background-color: #FFF;
  cursor: not-allowed;
}

/* ==================== Leaflet popup ==================== */
.custom-popup .leaflet-popup-content-wrapper {
  background: #FFF;
  color: #2d2d2d;
  font-size: 16px;
  line-height: 24px;
}

.custom-popup .leaflet-popup-content-wrapper a {
  font-family: "Source Serif Pro", Arial;
  font-size: 18px;
}

.custom-popup .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}

/* ==================== Includes other .scss files ==================== */
/* ==================== Footer structure ==================== */
footer {
  margin: 144px 0 48px 0;
}
footer .footer-header {
  height: 36px;
  text-align: center;
}
footer .footer-header:before {
  content: "";
  display: block;
  position: relative;
  top: 50%;
  height: 1px;
  width: 100%;
  background-color: #70aca0;
  z-index: -1;
}
footer .container-logo {
  width: 128px;
  background-color: white;
  margin: 0 auto;
}
footer img {
  width: 36px;
  height: 36px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 28px;
  list-style-type: none;
}

.footer-content li {
  list-style-type: none;
}

.footer-content ul {
  padding-left: 0;
}

.footer-pages {
  font-family: "Source Serif Pro", Arial, Arial;
  font-weight: 600;
  font-size: 18px;
  color: #2d2d2d;
}

.footer-subpages {
  display: flex;
  flex-direction: row;
  font-family: "Source Serif Pro", Arial;
  font-weight: 600;
  font-size: 14px;
  color: #767676;
  margin-bottom: 16px;
}
.footer-subpages:first-child {
  margin-top: 16px;
}

/* ==================== Header structure ==================== */
.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 48px 0 116px;
  border: #2d2d2d;
}

.header-nav .nav-list {
  min-width: 580px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav .nav-list .symbol {
  width: 36px;
  height: 100%;
  margin-right: 36px;
  vertical-align: middle;
}

.nav-item {
  font-family: "Source Serif Pro", Arial;
  font-weight: 600;
  font-size: 16px;
  color: #2d2d2d;
  margin: 0;
}

/* ==================== Nav anchors ==================== */
/* Removes default appearance of anchors */
a {
  text-decoration: none;
}

/* Adds underline when mouse hovers */
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* ==================== Dropdown menus ==================== */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-item {
  display: none;
  position: absolute;
  background-color: #FFF;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  min-width: 200px;
  z-index: 1;
  list-style-type: none;
  margin-top: 0;
  padding: 16px 24px;
}

.dropdown-item li:not(:first-child) {
  margin-top: 16px;
}

.dropdown .nav-item {
  display: flex;
  align-items: center;
}

#toggle-dropdown-system, #toggle-dropdown-master {
  border: none;
  background-color: #FFF;
  cursor: pointer;
}

/* ==================== Dropdown arrows ==================== */
/* Creates arrow pointing down */
.arrow-down {
  width: 9px;
  height: 9px;
  margin-left: 4px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid #767676;
  margin-top: 1px;
}

/* ==================== List, search box and logo ==================== */
ul.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Stylizes the search box */
.search-box {
  display: flex;
  border-bottom: 1px solid #767676;
  width: 172px;
  cursor: pointer;
  /* Stylizes the logo */
}
.search-box img {
  width: 17px;
  height: 17px;
  margin: auto 0;
}

/* ==================== Index ==================== */
.index-wrapper {
  width: 1134px;
  height: 563px;
  margin: 48px auto;
  margin-bottom: 96px;
}

.discover-card {
  align-items: center;
  width: 365px;
  height: 426px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  color: #2d2d2d;
  border-radius: 0 0 8px 8px;
}

.title-index {
  text-align: center;
  margin-bottom: 48px;
  color: #578A80;
}

.card-image {
  height: 244px;
  width: 365px;
  border-radius: 8px 8px 0 0;
}

.card-text {
  margin: 16px 24px 16px 24px;
}

.type-info {
  margin-bottom: 4px;
  color: #70aca0;
}

.card-title {
  margin-bottom: 8px;
  margin-top: 4px;
}

.slideshow-slide {
  position: absolute;
  gap: 20px;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}

.slideshow-slide.active {
  position: absolute;
  gap: 20px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;
}

.slides-container {
  position: relative;
}

/* ==================== Histórico ==================== */
.session-header {
  border-left: 4px solid #767676;
  padding-left: 20px;
  margin-bottom: 40px;
}
.session-header h2 {
  margin-bottom: 8px;
  color: #578A80;
}

.session-content {
  padding-left: 20px;
  padding-bottom: 80px;
}
.session-content h4 {
  color: #70aca0;
}

.session-content h4:not(:first-child) {
  margin-top: 28px;
}

.session-content h4 {
  margin-bottom: 8px;
}

/* ==================== Details and summary ==================== */
details {
  border: 1px solid #767676;
  border-radius: 4px;
  padding: 0 5px 0;
}

summary {
  font-weight: bold;
  margin: 5px 5px 0;
  padding: 15px;
}

details[open] {
  padding: 0 5px 0;
}

details[open] summary {
  border-bottom: 1px solid #767676;
  margin-bottom: 10px;
}

/* Turn cursor into hand when hovering over arrow */
details summary {
  cursor: pointer;
}

/* Fix nested block-level element being pushed down below the arrow marker */
details summary > * {
  display: inline;
}

/* ==================== Locais ==================== */
.local-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 212px;
  height: 800px;
}

.local-tree {
  display: flex;
  margin-top: 48px;
}
.local-tree h2 {
  margin-top: 0;
  color: #70aca0;
  font-size: 18px;
}
.local-tree p {
  font-size: 28px;
}

.local-column {
  width: 280px;
  padding: 32px 48px;
}

#local-column-1 {
  box-shadow: 16px 0px 24px rgba(0, 0, 0, 0.02);
  border-radius: 8px 0 0 8px;
}

#local-column-2, #local-column-3, #local-column-4 {
  left: -4px;
  position: relative;
  box-shadow: 16px 0px 24px rgba(0, 0, 0, 0.02);
}

#local-column-4 {
  border-radius: 0 8px 8px 0;
}

.name-arrow {
  display: flex;
}

.arrow-right {
  width: 0px;
  height: 0px;
  margin-left: 10px;
  border-left: 9px solid #767676;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin-top: 11px;
}

/* ==================== Locais OLD ==================== */
.header-main {
  text-align: left;
  float: left;
}

.list-religions {
  margin-top: 32px;
  list-style-type: none;
}

/* ==================== Pessoas  ==================== */
.header-main h1 {
  color: #578A80;
}

.people-group h2 {
  color: #70aca0;
}

.pessoas-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1134px;
  margin: 0 266px 0 116px;
}

.people-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
  width: 984px;
}

/* Adds margin below article title */
.people-group h2 {
  margin-bottom: 24px;
}

/* Makes person cards be ordered in a column */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

/* Creates the person card itself */
.card-link {
  background-color: #ffffff;
  width: 109px;
  height: 79px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a.a-link {
  display: block;
  width: 109px;
  color: #2d2d2d;
  text-decoration: none;
}

.secondary-info {
  font-size: 14px;
  color: #767676;
}

/* Sets size for person thumbnail */
.card-picture {
  width: 40px;
  height: 40px;
}

.person-name {
  margin-top: 8px;
}

/* Placeholder circle for people with missing avatars */
.dot-picture {
  height: 40px;
  width: 40px;
  background-color: tertiary;
  border-radius: 50%;
  display: inline-block;
}

/* ==================== Sections ==================== */
.person-infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* ==================== Sistema | Habilidades  ==================== */
.system-itens li {
  list-style-type: none;
  margin-top: 8px;
}

.system-itens ul {
  padding-left: 0;
}

.system-item {
  margin-top: 32px;
}

.system-item h5 {
  margin-top: 24px;
}

/* Div which creates a dropshadow between Resumo elements */
.single-info {
  padding: 16px 24px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
}

.single-info:not(:last-child) {
  margin-bottom: 8px;
}

.single-info h6 {
  color: #2d2d2d;
}

/* ==================== Responsivo  ==================== */
/* ==================== General layout  ==================== */
.master-wrapper {
  width: 749px;
  margin: auto;
}

.master-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

section:nth-of-type(2) h4 {
  margin-top: 72px;
}

/* ==================== Adventures browser ==================== */
.master-adventure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 232px;
  padding: 24px 16px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
}

.master-adventure h5 {
  color: #2d2d2d;
}

/* ==================== Tools browser  ==================== */
.master-tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 232px;
  padding: 24px 16px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
}

.master-tool h5 {
  color: #2d2d2d;
}

/* ==================== Tools | Travel calculator  ==================== */
.master-tool-wrapper {
  width: 749px;
  margin: 0 0 0 192px;
}

.tool-menu {
  display: flex;
  -moz-column-gap: 77px;
       column-gap: 77px;
}

.time-display {
  height: 140px;
  width: 289px;
  text-align: center;
  padding: 32px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.time-display h1 {
  margin-top: 8px;
}

/* ==================== Tools | Name generator  ==================== */
#names-div {
  height: 77px;
  width: 489px;
  text-align: center;
  padding: 16px 32px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
#names-div h2 {
  margin: 10px 0 0 0;
}

#name-tag:before {
  padding: 16px;
  color: red;
}

input[type=button][disabled] {
  background: rgb(202, 202, 202);
}

/* ==================== Tools | Itens list  ==================== */
.item-table td {
  vertical-align: middle;
}

.item-list-wrapper {
  width: 100%;
  margin: 0;
}
.item-list-wrapper .tool-main {
  width: inherit;
}

#myTable {
  display: block;
  height: 500px;
  overflow-y: scroll;
}

/* ==================== Tools | Sound mixer  ==================== */
.tool-main {
  width: 1100px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.inputIcon {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.inputIcon img {
  height: 16px;
  width: 16px;
  z-index: 1;
}

#myInput {
  height: 48px;
  width: 550px;
  color: #2d2d2d;
  font-family: "Source Serif Pro", Arial, Arial;
  font-size: large;
  border-width: 0 0 2px 0;
  border-bottom: solid 2px #B7B7B7;
  outline: 0;
}

#myInput:focus {
  border-bottom: solid 2px #578A80;
  font-weight: 600;
}

/* ==================== Tools | Sound mixer  ==================== */
.tool-audio {
  width: 996px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 24px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  padding: 24px;
}

.audio-card {
  height: 100px;
  width: 300px;
  padding-top: 16px;
  text-align: center;
  border-radius: 8px 8px 32px 32px;
}
.audio-card h5 {
  margin-bottom: 8px;
}

.tabinator input {
  display: none;
}

.tabinator label {
  box-sizing: border-box;
  display: inline-block;
  padding: 16px 24px;
  color: #2d2d2d;
}

.tabinator label:before {
  content: "";
  display: block;
  width: 100%;
  height: 16px;
  background-color: #fff;
  position: absolute;
  bottom: -11px;
  left: 0;
  z-index: 10;
}

.tabinator label:hover {
  color: #767676;
  cursor: pointer;
}

.tabinator input:checked + label {
  position: relative;
  color: #578A80;
  font-size: 28px;
  font-weight: 600;
  background: #fff;
  border-bottom: 1px solid #fff;
  border-radius: 8px 8px 0 0;
}

.tabinator input:checked + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
}

#content1, #content2, #content3, #content4 {
  width: 996px;
  display: none;
  padding: 24px;
}

#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3 {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 24px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
}

.alt-color {
  color: #70aca0;
}

/* ==================== Tools | Calendar  ==================== */
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  margin: 0 auto;
}

th, td {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  font-size: 16px;
  width: 14.28%;
  vertical-align: middle;
  height: 100px;
  position: relative;
}

th {
  background-color: #cccccc;
  font-weight: bold;
  height: 50px;
}

td:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.event {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #4CAF50;
  color: white;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
}

/* Style the details panel */
.details {
  float: right;
  width: 30%;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid black;
  margin-top: 50px;
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.details h3 {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.details p {
  margin-top: 0;
  font-size: 16px;
  line-height: 1.5;
}

/* ==================== Header and Typography ==================== */
/* Removes spacing after h1 tag */
.person-header {
  margin-bottom: 0px;
}

.person-wrapper {
  margin: 0 auto;
  width: 1134px;
}

h5 {
  color: #767676;
}

/* ==================== General Layout ==================== */
.info-picture {
  display: flex;
  gap: 96px;
}

/* ==================== Column with person info ==================== */
.cards-multinfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
}

.person-infos {
  width: 653px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.appearance-container {
  height: auto;
}

.apperance-title {
  color: #B7B7B7;
}

.person-multinfo {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cards-person {
  gap: 15px;
}

.multinfo-itens-person {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  row-gap: 16px;
  -moz-column-gap: 48px;
       column-gap: 48px;
}

.multinfo-single-person {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.person-info {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  padding: 16px 24px;
}
.person-info ul {
  margin-bottom: 0px;
}
.person-info ul li {
  margin-left: 18px;
}

.personality-list {
  padding-left: 0px;
}

li:empty {
  display: none;
}

.notes-list, .history-list, .interaction-list, .item-list {
  padding-left: 0px;
}

.characteristics-list {
  list-style-type: none;
  padding-left: 0px;
}

.notes-info:first-child:has(li:empty) {
  display: none;
}

.notes-info li:empty {
  display: none;
}

/* ==================== Profile picture ==================== */
.person-picture {
  width: 385px;
  height: 728px;
  display: none;
}

/* ==================== Hides stuff that is empty ==================== */
.person-container:has(p:empty) {
  display: none;
}

.personality-container:has(li:first-child:empty) {
  display: none;
}

.history-container:has(li:first-child:empty) {
  display: none;
}

.interaction-container:has(li:first-child:empty) {
  display: none;
}

.clothing-container:has(p:empty) {
  display: none;
}

.item-container:has(li:first-child:empty) {
  display: none;
}

/* ==================== Header and Typography ==================== */
/* Removes spacing after h1 tag */
.local-header {
  margin-bottom: 0px;
}

.local-wrapper {
  margin: 0 auto;
  width: 1134px;
}

h5 {
  color: #767676;
}

/* Breadcrumbs */
ul.breadcrumb {
  margin: 0 0;
  padding: 4px 0 0 0;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 500;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/ ";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ==================== General Layout ==================== */
.info-picture {
  display: flex;
  gap: 96px;
}

.local-multinfo {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.multinfo-single-local {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* ==================== Column with local info ==================== */
.local-cards-multinfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
}

.construction-list {
  padding-left: 0px;
  margin-bottom: 0;
  margin-top: 0;
}

.local-info {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  padding: 16px 24px;
}
.local-info ul {
  margin-bottom: 0px;
}
.local-info ul li {
  margin-left: 18px;
}

.local-infos {
  width: 653px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.appearance-title {
  color: #B7B7B7;
}

.local-multinfo {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cards-local {
  gap: 15px;
}

.cards-person {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 15px;
}

.multinfo-itens {
  display: flex;
  flex-wrap: nowrap;
  row-gap: 16px;
  -moz-column-gap: 48px;
       column-gap: 48px;
}

.multinfo-single {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.local-info {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  padding: 16px 24px;
}
.local-info ul {
  margin-bottom: 0px;
}
.local-info ul li {
  margin-left: 18px;
}

.building-list {
  padding-left: 0px;
  margin-top: 0;
  margin: 0;
}

li:empty {
  display: none;
}

.characteristics-list {
  list-style-type: none;
  padding-left: 0px;
}

.notes-list-local {
  padding-left: 0px;
}

.notes-info-local:first-child:has(li:empty) {
  display: none;
}

/* ==================== Profile picture ==================== */
.local-picture {
  width: 385px;
  height: 728px;
}

.local-picture {
  display: none;
}

/* ==================== Responsive version ==================== */
@media screen and (max-width: 360px) {
  body {
    margin: 0 8px;
  }
  .page-wrapper {
    width: 100%;
  }
  h1 {
    margin-bottom: 24px;
  }
  ul {
    margin-bottom: 0;
  }
  .header-nav .nav-list {
    min-width: 0;
  }
  .header-nav {
    margin-bottom: 48px;
  }
  .nav-item {
    display: none;
  }
  .dropdown {
    display: none;
  }
  .search-box {
    display: none;
  }
  footer {
    margin-top: 48px;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .footer-content li {
    margin-bottom: 8px;
  }
  .footer-pages {
    text-align: center;
  }
  .footer-subpages {
    display: block;
  }
  .footer-subpages:first-child {
    margin-top: 0;
  }
  .footer-subpages:last-child {
    margin-bottom: 4px;
  }
}/*# sourceMappingURL=styles.css.map */